<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Information Page</title>
<link href="../static/css/boook.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div id="big_wapper">
	<header>
		<h4>Your type of books in Alibris Books OnlineS</h4>
		<h1>ali<span>bris</span><img src="../static/pics/5.gif" width="50px" height="50px"></h1>
	 <nav>
            <ul id="menu">
                <li><a href="../templates/home.html">Home</a></li>
                <li><a href="../templates/mainpage.html">Main</a></li>
				<li><a href="../templates/about.html">About</a></li>
            
            </ul>
		 <a href="Sign up.html"><img src="../static/pics/login.png"></a>
        </nav>
		<nav>
		<input type="text" name="Search" placeholder="Search by title ,Author or ISBN">
		  <button id="b1" type="submit">Search</button>
		 </nav>
</header>
		<div id="info">
		<p>KNOW ME</p>
			
		Trudy Akortia is my name. I am 20 years of age and i come from Ada in the Greater Accra Region.<br>
		I reside at Kpone-Tema.I live with both my parents and my only sister, Salomey Akortia.
		I wrote my BECE at the <a link href = "St paul methodist junior high school.edu.gh"><br>St.Paul Methodist Junior High School </a>in Tema and continued with my secondary level at
		<a link href = "adasco.edu.gh"> Ada Senior High School</a>,<BR>where I wrote my WASSCE examination from there I futhered my education at the <br>
		<a link href ="htu.edu.gh">Ho Technical University </a>where am currently studying HND in Information Communication and Technolgy.
		<div id= "image3"><img src ="../static/pics/78.jpg" weight="3000px" height="500px"></div>
		I have a lot of hobbies and there are
				<ul>
					<li>Playing Video Games<a link href = "devil may cry">(Devil May Cry)</a></li><br>
					<li>Watching Movies</li><br>
					<li>Reading</li><br>
					<li><a link href = "badminton">Playing Badminton</a></li>
		</ul>
			So this is a little about my self. For more information 
			<a href="../templates/Contact Page.html"><button id="b2" type="submit">CONTACT</button></a>
			
	</div>
		<footer id = "the_footer">ALIBRIS BOOKS &copy; 2018
		</footer>
	</div>
</body>
</html>
