<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Contact Page</title>
<link href="boook.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div id="big_wapper">
	<header>
		<h4>Your type of books in Alibris Books OnlineS</h4>
		<h1>ali<span>bris</span><img src="5.gif" width="50px" height="50px"></h1>
	 <nav>
            <ul id="menu">
                <li><a href="home.html">Home</a></li>
                <li><a href="product.html">Main</a></li>
		<li><a href="about.html">Information Page</a></li>
            </ul>
		 <a href="Sign up.html"><img src="login.png"></a>
        </nav>
		<nav>
		<input type="text" name="Search" placeholder="Search by title ,Author or ISBN">
		  <button id="b1" type="submit">Search</button>
		 </nav>
</header>
		<div id= "contact">
		<p>CONTACT ME</p>
		Trudy Naana Kabukie  Akortia <br>
		Email: trudyakortia1@gmail.com<br>
		Location: Kpone-Tema<br>
		Telephone: 0261511454<br>
		<p>Please Drop a comment here<br></p>
		<textarea name = "comments" rows = "3" cols = "50" placeholder ="Please comment here..."></textarea></div>
<footer id = "the_footer">ALIBRIS BOOKS &copy; 2018
		</footer>
	</div>
</body>
</html>
