<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link href="../static/css/boook.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div id="big_wapper">
	<header>
		<h4>Your type of books in Alibris Books OnlineS</h4>
		<h1>ali<span>bris</span><img src="../static/pics/5.gif" width="50px" height="50px"></h1>
	 <nav>
            <ul id="menu">
                <li><a href="../templates/home.html">Home</a></li>
                <li><a href="../templates/mainpage.html">Main</a></li>
				<li><a href="../templates/about.html">About</a></li>
            </ul>
		 <a href="Sign up.html"><img src="../static/pics/login.png"></a>
        </nav>
		<nav>
		<input type="text" name="Search" placeholder="Search by title ,Author or ISBN">
		  <button id="b1" type="submit">Search</button>
		 </nav>
</header>
		<div id="image">
		<p> Welcome to Alibris Books... Your source for Books</p>
		<p>Spring Activities</p>
		<button id="b2" type="submit"><a href="../templates/product.html">BROWSE</button></a></div>
		<div id ="p"> The premier media of Alibris books will connect you to over 150 million books from over thoussand authors worldwide...</div>
		<h4>Read by Categories</h4>
		<table>
		<tr colspan="2">
		<td>Friction</td>
		<td>Romance</td>
		<td>Teen Wolf</td>
		</tr>
			<tr>
			<td><img src="../static/pics/3.jpg" width="320px" height="320px"></td>
			<td><img src="../static/pics/9.jpg" width="320px" height="320px"></td>	
			<td><img src="../static/pics/8.jpg" width="330px" height="320px"></td>	
			</tr>
			</table>
		<footer id = "the_footer">ALIBRIS BOOKS &copy; 2018
		</footer>
		
	</div>
</body>
</html>
