<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>product</title>
<link href="boook.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div id="big_wapper">
	<header>
		<h4>Your type of books in Alibris Books OnlineS</h4>
		<h1>ali<span>bris</span><img src="5.gif" width="50px" height="50px"></h1>
	 <nav>
            <ul id="menu">
                <li><a href="home.html">Home</a></li>
                <li><a href="mainpage.html">Main</a></li>
				<li><a href="about.html">About</a></li>

            </ul>
		 <a href="Sign up.html"><img src="login.png"></a>
        </nav>
		<nav>
		<input type="text" name="Search" placeholder="Search by title ,Author or ISBN">
		  <button id="b1" type="submit">Search</button>
		 </nav>
</header>
		<div id= "p">Alibris Books brings you variety of books here</div>
		<h3>Fiction Books</h3>
		<table>
		<tr>
			<td><img src="14A.jpg" width="200px" height="250px"></td>
			<td><img src="15.jpg" width="200px" height="250px"></td>
			<td><img src="16.jpg" width="200px" height="250px"></td>
			<td><img src="17.jpg" width="200px" height="250px"></td>
			</tr>
			<tr>
			<td><img src="18.jpg" width="200px" height="250px"></td>
			<td><img src="19.jpg" width="200px" height="250px"></td>
			<td><img src="19A.jpg" width="200px" height="250px"></td>
			</tr>
		</table>
		<table>
		<h3>Business Books</h3>
			<tr>
				<td><img src="26.jpg" width="200px" height="250px"></td>
				<td><img src="27.jpg" width="200px" height="250px"></td>
				<td><img src="28.jpg" width="200px" height="250px"></td>
				<td><img src="29.jpg" width="200px" height="250px"></td>
			</tr>
			<tr>
				<td><img src="30.jpg" width="200px" height="250px"></td>
			</tr>
		</table>
		<table>
			<h3>Vampire Daries</h3>
		<tr>
			<td><img src="20.jpg" width="200px" height="250px"></td>
			<td><img src="21.jpg" width="200px" height="250px"></td>
			<td><img src="22.jpg" width="200px" height="250px"></td>
			<td><img src="23.jpg" width="200px" height="250px"></td>
			</tr>
			<tr>
			<td><img src="24.jpg" width="200px" height="250px"></td>
			<td><img src="25.jpg" width="200px" height="250px"></td>
		</tr>
		</table>
		<table>
		<h3>Romance</h3>
			<tr>
				<td><img src="11.jpg" width="200px" height="250px"></td>
				<td><img src="12.jpg" width="200px" height="250px"></td>
				<td><img src="13.jpg" width="200px" height="250px"></td>
				<td><img src="14.jpg" width="200px" height="250px"></td>
			</tr>
			<tr>
				<td><img src="14B.jpg" width="200px" height="250px"></td>
			</tr>
		</table>
		
		<footer id="footer">
		<div class="b">Sponsored Books</div>
			<table>
			<tr>
				<td><a href="harvarduniversitypress.com">Havard University Press<img src="39.jpg" weight="50" height="50"></a></td>
				<td><a href="newsunpublishingcompany.com.uk">New Sun Publishing<img src="40.png" weight="50" height="50"></a></td></tr>
				<tr>
				<td><a href="merciabooks.com.uk">Mercia Books<img src="41.jpg" weight="50" height="50"></a></td>
				<td><a href="peguinebooks.com.uk">Peguine Books<img src="44.jpg" weight="50" height="50"></a></td></tr>
				<tr>
				<td><a href="alrahelahpublishing.com.uk">Alrahelah Publishing<img src="49.png" weight="50" height="50"></a></td>
				<td><a href="yaleuniversitypublishing.com">Yale University Press<img src="51.gif" weight="50" height="50"></a></td>
			</tr>		
			</table>
		
			<p>ALIBRIS BOOKS &copy; 2018</p>
		</footer>
	</div>
</body>
</html>
